*,
*::before,
*::after {
  box-sizing: border-box;
}

/* CONTAINER STYLES */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(0, 0%, 95%);
}

.container {
  overflow: hidden;
  border-radius: 0.625rem;
  display: flex;
  max-width: 57.5rem;
  min-height: 31.25rem;
  flex-direction: row;
}

.cars {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  padding: 2rem;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
}

/* FONT STYLES */

h2 {
  font-weight: 700;
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
  font-size: 40px;
  margin: 2rem 0rem 1.5rem 0rem;
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 25px;
  margin-bottom: 83px;
  max-width: 24ch;
}

.sedans a {
  color: hsl(31, 77%, 52%);
}

.suvs a {
  color: hsl(184, 100%, 22%);
}

.luxury a {
  color: hsl(179, 100%, 13%);
}

a {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9375rem;
  background-color: #fff;
  padding: 1rem 0.5rem;
  width: 70%;
  border-radius: 2rem;
  border: 2px solid hsl(0, 0%, 95%);
  text-decoration: none;
  text-align: center;
}

.sedans a:hover,
.suvs a:hover,
.luxury a:hover {
  color: hsla(0, 0%, 100%, 0.75);
  background: transparent;
}

@media only screen and (max-width: 930px) {
  .container {
    margin: 0rem 2rem;
  }
}

@media only screen and (max-width: 580px) {
  .container {
    display: grid;
    min-width: 12.5rem;
    min-height: 25rem;
    margin: 3rem 2rem;
  }

  .cars {
    display: grid;
    padding: 2rem;
    min-height: 25rem;
  }

  p {
    padding: 2rem 0rem;
    width: 100%;
  }

  button {
    width: 60%;
  }
}
